<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/upload.css">
        <title>Upload</title>
    </head>
    <body>
        <h1>Upload Files</h1>
        <form>
            <input type='text' name='search' id='search-field' placeholder="Search"/>
            <button id='search-button'>Search</button>
        </form>
        <progress id="progress" value="0" max="100"> 0%</progress>
        <br>
        <br>
        <input type="file" id='choose-file'/>
        <br>
        <button id='push'>Push</button>
    </body>
    <!-- FIREBASE CDN-->
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.12.0/firebase-storage.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-analytics.js"></script>
    <!-- CODE -->
    <script src='/js/code.js'></script>
</html>